<!--============================================================================
  Developer: Paul Savignano
  Email: paul.savignano@gmail.com
  Mobile: (619) 865-3725
==============================================================================-->


<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item">
      <div class="rte">
        {{ page.content }}
        {% if pages.order-for-next-sunday != blank %}
          <div class="center-align">
            <a href="/pages/order-for-next-sunday" id="next-sunday-link"></a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% assign myArray = "order-for-this-sunday|add-on-options-for-delivery-this-sunday" | split: "|" %}
{% include "modelmeals-order-form" %}


<script>
// Find current Sunday

var days = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'];

function next(day) {
  var date = new Date();
  var today = date.getUTCDay();
  var hour = date.getUTCHours();
  day = day.toLowerCase();

  for (var i = 7; i--;) {
    if (day === days[i]) {
      if (i < today) {
        day = i + 8;
      } else {
        if (hour >= 19) {
          day = i + 8;
        } else {
          day = i + 1;
        }
      }
      break;
    }
  }
  var daysUntilNext = day - today;
  return new Date().setDate(date.getUTCDate() + daysUntilNext);
}

var nextDate = new Date(next("sunday"));
var month = nextDate.getMonth() + 1;
var dayNumber = nextDate.getDate();
var year = nextDate.getFullYear();

var deliveryDay = document.querySelectorAll('.input-number')
for (var d = 0; d < deliveryDay.length; d++) {
  deliveryDay[d].dataset.delivery = month + "/" + dayNumber + "/" + year;
}

</script>
