<!--============================================================================
  Developer: Paul Savignano
  Email: paul.savignano@gmail.com
  Mobile: (619) 865-3725
==============================================================================-->


<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>



{% assign myArray = "order-for-next-sunday|add-on-options-for-delivery-next-sunday" | split: "|" %}
{% include "modelmeals-order-form" %}

<script>
// Find and format next Sunday
{% if pages.order-for-next-sunday != blank %}

var days = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'];

function next(day) {
  var today = new Date();
  var today_day = today.getDay();
  day = day.toLowerCase();

  for (var i = 14; i--;) {
    if (day === days[i]) {
        day = (i < today_day) ? (i + 14) : (i + 7);
        break;
    }
  }
  var daysUntilNext = day - today_day;
  return new Date().setDate(today.getDate() + daysUntilNext);
}

// insert a week day
var nextDate = new Date(next( "sunday" ));
var month = nextDate.getMonth() + 1;
var dayNumber = nextDate.getDate();
var year = nextDate.getFullYear();

var deliveryDay = document.querySelectorAll('.input-number')
for (var d = 0; d < deliveryDay.length; d++) {
  deliveryDay[d].dataset.delivery = month + "/" + dayNumber + "/" + year;
}

{% endif %}
</script>
